@use 'tokens' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $nk-font-family-sans;
  font-size: $nk-font-size-base;
  line-height: $nk-line-height-normal;
  color: $nk-color-neutral-900;
  background-color: $nk-color-neutral-0;
  -webkit-font-smoothing: antialiased;
}
